.slider {
    &__box {
        display: flex;
        margin-bottom: 30px;
    }
    &__text-bold {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 66px;
        height: 66px;
        // background: #FC9B09;
        @include text(30px, 700, 44px, $primaryColor);
        // border-radius: 50%;
        text-align: center;
        margin-bottom: 20px;
        margin-right: 0;
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &__text-one {
        @include text(16px, 500, 23px, $secondaryColor);
        margin-bottom: 10px;
    }
    &__text-two {
        @include text(14px, 400, 20px, $secondaryColor);
        text-align: center;
    }
}