.maps {
    position: relative;
    padding-top: 45px;
    .container {
        @extend %container;
    }
    &__block {
        position: absolute;
        top: 68px;
        left: 50px;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__block {
        padding-top: 50px;
        padding-left: 30px;
        display: none;
        width: 420px;
        height: 470px;
        background-color: white;
        @include media(md) {
            display: block;
        }
    }
}