.map {
    padding-top: 45px;
    position: relative;
    .container {
        @extend %container;
        &__card {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__map {
        margin-bottom: 52px;
        @include media (sm) {
            height: 510px;
        }
    }
    &__wrapper {
        @include media (md) {
            display: none;
        }
        padding: 52px 16px 14px 16px;
        margin: 0 auto;
        width: 275px;
        border:1px solid #C7C7C7;
        @include media (xs) {
            width: 400px;
            padding: 52px 80px 14px 80px;
        }
    }
    &__block {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    &__card {
        position: absolute;
        top: 65px;
        left: 65px;
        width: 420px;
        height: 470px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: white;
        padding: 50px 30px;
    }
}