.maps {
    position: relative;
    padding-top: 45px;
    .container {
        @extend %container;
    }
    &__slider {
        position: absolute;
        top: 68px;
        left: 50px;
        padding-top: 50px;
        padding-left: 30px;
        display: none;
        width: 420px;
        height: 470px;
        background-color: white;
        @include media(md) {
            display: block;
        }
        &__photographercard {
            display: flex;
            align-items: center;
        }
    }
    &__photographer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__wrapper {
        padding: 52px 26px 20px 26px;
        margin: 0 auto;
        width: 275px;
        height: 380px;
    }
}