.map {
    padding-top: 45px;
    position: relative;
    &__map {
        margin-bottom: 52px;
        @include media (sm) {
            height: 510px;
        }
    }
    .container {
        @extend %container;
        &__card {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__wrapper {
        @include media (md) {
            display: none;
        }
        padding: 24px 20px 20px 20px;
        margin: 0 auto;
        width: 275px;
    }
    //       
    // .human {
    //     &__photo {
    //         margin-top: 0;
    //         margin-right: 10px;
    //         @include media (md) {
    //             margin-top: 50px;
    //         }
    //         &::after {
    //             display: none;
    //         }
    //     }
    //     &__img {
    //         width: 67px;
    //         height: 67px;
    //     }
    //     &__flex {
    //         align-items: flex-start;
    //     }
    //     &__title {
    //         @include text (16px, 500, 20px, $secondaryColor);
    //         margin-bottom: 5px;
    //     }
    //     &__photografer {
    //         margin-bottom: 7px;
    //         @include text (14px, 400, 21px, $secondaryColor);
    //     }
    //     &__link {
    //         @include text (14px, 500, 21px, $linkColor);
    //         max-width: 155px;
    //         text-align: left;
    //         @include media (sm) {
    //             margin-bottom: 30px;
    //         }
    //         @include media (md) {
    //             margin-bottom: 0px;
    //         }
    //     }
    // }
    &__card {
        position: absolute;
        top: 65px;
        left: 65px;
        width: 420px;
        height: 470px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: white;
        padding: 50px 0 55px 30px;
    }
}