        .swiper-container {
            max-width: 100%;
            width: 100%;
            margin-bottom: 40px;
            min-height: 163px;
        }
        
        .swiper-slide {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }
        
        .swiper-pagination-bullet {
            background-color: #FC9B09;
            // margin-bottom: 20px;
        }
        
        .swiper-button-next::after {
            background-image: url(../images/maps/arrow-swiper.svg);
            background-size: contain;
            width: 26px;
            height: 21px;
            background-repeat: no-repeat;
        }
        
        .swiper-button-prev::after {
            background-image: url(../images/maps/arrow-swiper.svg);
            background-size: contain;
            width: 26px;
            height: 21px;
            transform: rotate(180deg);
            background-repeat: no-repeat;
        }
        
        .swiper-button-next::after,
        .swiper-container-rtl,
        .swiper-button-prev::after {
            content: ''!important;
            position: absolute;
            right: 0px;
            top: -30px;
        }
        
        .swiper-container-horizontal>.swiper-pagination-bullets,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            position: absolute;
            bottom: -5px;
            left: -5px;
            width: 100%;
        }
        
        .swiper-button-next {
            position: absolute;
            right: -15px;
        }
        
        .swiper-button-prev {
            position: absolute;
            left: -15px;
        }